@import "variable";
html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Google Sans",
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

a,
a:hover {
  color: $color-primary;
}
